<simple-notifications class="notifications" [options]="options"></simple-notifications>
<!-- main app container -->
<md-sidenav-layout>
  <div class="main-container" [class.m2app-dark]="isDarkTheme" [class.m2app-light]="!isDarkTheme">
    <md-toolbar color="primary">
      <button md-icon-button [md-menu-trigger-for]="anchorMenu" aria-label="Open anchor menu">
        <md-icon>menu</md-icon>
      </button>
      Service Composition
      <span class="app-toolbar-filler"></span>
      <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </md-toolbar>
    <md-menu #anchorMenu="mdMenu">
      <a md-menu-item [routerLink]="['/login']">
        Login
      </a>
      <a md-menu-item [routerLink]="['/register']">
        Register
      </a>
      <a md-menu-item [routerLink]="['/home']">
        Home
      </a>
    </md-menu>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>
