<!--<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <md-progress-circle *ngIf="loading" mode="indeterminate" color="primary"></md-progress-circle>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
</div> -->

<div layout="row" layout-padding layout-align="center">
  <md-card flex="70" class="app-input-section registerCard" layout="column">
    <md-toolbar color="primary" class="register-toolbar" layout="row" layout-align="center center">Login</md-toolbar>
    <md-card-content layout="column">
      <div layout="row" layout-align="center center" layout-padding>
        <md-icon >account_circle</md-icon>
        <md-input flex="grow" dividerColor="accent" [(ngModel)]="model.username" #username placeholder="Username" maxlength="20"
                  minlength="6"
                  required>
        </md-input>
      </div>
      <div layout="row" layout-align="center center" layout-padding>
        <md-icon>lock</md-icon>
        <md-input flex="grow" dividerColor="accent" [(ngModel)]="model.password" #password1 placeholder="Password" maxlength="20"
                  minlength="6"
                  required type="password"></md-input>
      </div>
      <md-progress-circle *ngIf="loading" mode="indeterminate" color="accent"></md-progress-circle>
      <div layout="row" layout-padding layout-align="space-around center">
        <button flex="45" (click)="login()"
                [disabled]="username.characterCount < 1 || password1.characterCount < 1"
                md-raised-button md-ripple type="submit" layout-margin color="accent">login
        </button>
        <button routerLink="/register" flex="45" md-raised-button md-ripple color="accent">cancel</button>
      </div>
    </md-card-content>
  </md-card>
</div>
