<md-card>
  <md-data-table layout-fill>
    <thead>
    <tr>
      <th class="md-text-cell">Service</th>
      <th>Authentication-Type</th>
      <th>Status</th>
      <th>Grant Access</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services">
      <td class="md-text-cell">{{service.name}}</td>
      <td>{{service.type}}</td>
      <td>
        <div *ngIf="service.status && !loading">
          <md-icon>check</md-icon>
        </div>
        <div *ngIf="service.status === false && !loading">
          <md-icon>close</md-icon>
        </div>
        <md-progress-circle *ngIf="loading" mode="indeterminate" color="accent"
                            style="width: 32px;height: 32px"></md-progress-circle>
      </td>
      <td>
        <a *ngIf="!service.loading && service.type === 'oauth2'" href="{{service.authUrl}}" target="_blank">
          <button md-icon-button color="accent">
            <md-icon>add</md-icon>
          </button>
        </a>
        <div *ngIf="!service.loading && service.type === 'basic'">
          <md-input flex="grow" dividerColor="accent"  #username placeholder="Username" maxlength="20"
                    minlength="6"
                    required></md-input>
          <md-input flex="grow" dividerColor="accent"  #password placeholder="Password" maxlength="20"
                    minlength="6"
                    required type="password"></md-input>
          <button (click)="sendBasicAuth(service.name,username._value,password._value)"
                  [disabled]="username.characterCount < 1 || password.characterCount < 1"
                  md-raised-button md-ripple type="submit" layout-margin color="accent">grant access
          </button>
        </div>
        <md-progress-circle *ngIf="service.loading" mode="indeterminate" color="accent"
                            style="width: 32px;height: 32px"></md-progress-circle>
      </td>
    </tr>
    <tbody>
  </md-data-table>
</md-card>
