<div layout="row" layout-padding layout-align="center" style="width: 600px">
  <md-card class="app-input-section registerCard" layout="column" layout-fill>
    <md-toolbar color="primary" layout="row" layout-align="center center">Join Team</md-toolbar>
    <md-card-content layout="column">
      <div layout="row" layout-align="center center" layout-padding>
        <md-icon >account_circle</md-icon>
        <md-input flex="grow" dividerColor="accent" [(ngModel)]="model.teamName" #teamName placeholder="Teamname" maxlength="20"
                  minlength="6"
                  required>
        </md-input>
      </div>
      <div layout="row" layout-align="center center" layout-padding>
        <md-icon>lock</md-icon>
        <md-input flex="grow" dividerColor="accent" [(ngModel)]="model.password" #password1 placeholder="Password" maxlength="20"
                  minlength="6"
                  required type="password"></md-input>
      </div>
      <md-progress-circle *ngIf="loading" mode="indeterminate" color="accent"></md-progress-circle>
      <div layout="row" layout-padding layout-align="space-around center">
        <button flex="50" (click)="joinTeam()"
                [disabled]="teamName.characterCount < 1 || password1.characterCount < 1"
                md-raised-button md-ripple type="submit" layout-margin color="accent">join
        </button>
      </div>
    </md-card-content>
  </md-card>
</div>
