<div layout="column" layout-padding layout-align="center">
  <md-card>
    <md-toolbar color="primary">Select Team</md-toolbar>
    <md-nav-list layout="column" *ngIf="!loading">
      <md-list-item *ngFor="let team of teams" (click)="changeTeam(team)">
        <b class="changeTeamListItem">{{team.teamName}}</b>
        <md-divider></md-divider>
      </md-list-item>
    </md-nav-list>
    <md-progress-circle *ngIf="loading" mode="indeterminate" color="accent"></md-progress-circle>
  </md-card>
</div>
