@import '~@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();


/*
$primary: md-palette($md-teal, 500, 100, 700);
$accent:  md-palette($md-purple, 500, 300,800);
$warn: md-palette($md-red, 500, 300, 900);
$background: md-palette($md-grey, 500, 0, 600);
*/

$primary: md-palette($md-indigo, 700, 100, 500);
$primaryHue: md-palette($md-indigo, 100);
$accent:  md-palette($md-pink, A200, A100,A400);
$warn: md-palette($md-red, 500, 300, 900);
$background: md-palette($md-grey, 100, 50, 200);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

// Use md-color to extract individual colors from a palette as necessary.
.register-toolbar{
  background-color: md-color($primaryHue);
}

.bgEven{
  background-color: md-color($background,50);
}

.bgUnEven{
  background-color: md-color($background,200);
}
