<md-card>
  <md-toolbar color="primary">{{name}}</md-toolbar>
    <div layout="row" layout-align="start none">
      <div *ngFor="let path of curDir; let isLast = last; let curIndex = index" layout="row"
           layout-align="center center">
        <button md-button md-ripple color="accent" (click)="handlePathButtonClick($event, curIndex)">
          {{path}}
        </button>
        <md-icon *ngIf="!isLast" color="primary">keyboard_arrow_right</md-icon>
        <!-- wait for new angular2 release till md-icon theming is working   -->
      </div>
    </div>
    <md-data-table layout-fill>
      <thead>
      <tr>
        <th class="md-text-cell sortable" (click)="sortByName()">
          <div layout="row" layout-align="start center">
            <label>Name</label>
            <md-icon *ngIf="currentSortType!==0">sort</md-icon>
            <md-icon *ngIf="sortAscending && currentSortType===0">arrow_upward</md-icon>
            <md-icon *ngIf="!sortAscending && currentSortType===0">arrow_downward</md-icon>
          </div>
        </th>
        <th class="sortable md-text-cell" (click)="sortByType()">
          <div layout="row" layout-align="start center">
            <label>Type</label>
            <md-icon *ngIf="currentSortType!==1">sort</md-icon>
            <md-icon *ngIf="sortAscending && currentSortType===1">arrow_upward</md-icon>
            <md-icon *ngIf="!sortAscending && currentSortType===1">arrow_downward</md-icon>
          </div>
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!loading">
        <tr *ngFor="let dir of dirs;let curIndex = index;" (click)="rowClicked(curIndex)" [@slideIn]="'active'">
          <td class="md-text-cell">{{dir.name}}</td>
          <td *ngIf="dir.tag === 'folder'" class="md-text-cell">
            <md-icon [md-tooltip]="'Folder'" [tooltip-position]="'after'" color="primary">folder</md-icon>
          </td>
          <td *ngIf="dir.tag === 'file'" class="md-text-cell">
            <md-icon [md-tooltip]="'File'" [tooltip-position]="'after'" color="primary">insert_drive_file</md-icon>
          </td>
          <td>
            <button *ngIf="!dir.isDownloading && dir.tag === 'file'" md-icon-button color="accent"
                    (click)="getFile(curIndex)">
              <md-icon>file_download</md-icon>
            </button>
            <md-progress-bar *ngIf="dir.isDownloading" mode="indeterminate" color="accent"></md-progress-bar>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="loading">
        <td>
          <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
        </td>
        <td>
          <!--<md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>-->
        </td>
        <td>
          <!--<md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>-->
        </td>
      </tr>
      </tbody>
    </md-data-table>
    <md-card>
      <h3>Upload File</h3>
      <div layout="row" layout-padding layout-align="start center">
        <input type="file" (change)="changeListener($event)">
        <button *ngIf="!isUploading" md-icon-button color="accent" [disabled]="!uploadReady" (click)="uploadFile()">
          <md-icon>file_upload</md-icon>
        </button>
        <md-progress-bar *ngIf="isUploading" mode="indeterminate" color="accent"></md-progress-bar>
      </div>
    </md-card>
</md-card>
